<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mapper.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yk.modules.sys.dao.cluster.RpathDao">
    <select id="getRpath" resultType="com.yk.modules.sys.pojo.Rpath" parameterType="java.lang.Integer">
        select id, name, pid,longcode from items WHERE id=#{id,jdbcType=INTEGER};
    </select>

</mapper>